<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Task Tracker</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
        <%= link "Task Tracker", to: page_path(@conn, :index), class: "navbar-brand" %>

        <div class="navbar-nav">
          <%= link "Tasks", to: task_path(@conn, :index), class: "nav-item nav-link"%>
          <%= link "Users", to: user_path(@conn, :index), class: "nav-item nav-link" %>
        </div>

      </nav>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <p class="text-right">
            <%= if @current_user do %>

              HI, <strong><%= @current_user.name %></strong>
              <%= link "Log Out", to: "/session", method: :delete %>
            <% else %>
                <%= link "Log in", to: page_path(@conn, :index) %>
            <% end %>
          </p>

        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
